<div class="">
    <section class="w-full">
        <div class="flex items-center justify-between">
          <h2 class="secondary-title">{{project.projectTitle | translate}}</h2>
          <img src="../../../assets/projects/left-arrow.png" alt="home" class="w-4 h-4 hover:cursor-pointer"
               (click)="goBack()"
               (keydown.enter)="goBack()"
               tabindex="0"
          >
        </div>
        <h6 class="text-2xl mt-8">{{ "FEATURES" | translate }}</h6>
        <span class="text-sm">{{"VIEW_FULL_IMAGE" | translate }}</span>

        <div *ngFor="let feature of project.features; let i = index" class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
          <img
            [src]="feature.featurePhoto"
            [alt]="(feature.featureTitle | translate) || 'feature photo'"
            tabindex="0"
            (click)="openImage(i)"
            (keydown.enter)="openImage(i)"
            class="w-full border rounded-2xl h-36 lg:h-72 object-cover hover:opacity-90 cursor-zoom-in transition"
          />
          <div class="w-full bg-nav p-2 md:px-6 bg-slate-700 rounded-2xl">
            <h6 class="text-xl my-2">{{ feature.featureTitle | translate }}</h6>
            <span class="section-paragraph">{{ feature.featureDescription | translate }}</span>
          </div>
        </div>

        <div
          *ngIf="modalOpen && selectedImageIndex !== null"
          class="fixed inset-0 z-50 flex items-center justify-center"
          aria-modal="true"
          role="dialog"
        >
          <div class="absolute inset-0 bg-black/80" (click)="closeModal()"></div>

          <div class="relative max-w-[95vw] max-h-[90vh]">
            <button
              class="absolute -top-4 -right-4 md:top-2 md:right-2 z-10 bg-black/70 hover:bg-black text-white rounded-full p-2"
              aria-label="Close"
              (click)="closeModal()"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 
                  111.414 1.414L11.414 10l4.293 4.293a1 1 0 
                  01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 
                  01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 
                  010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>

            <img
              [src]="project.features[selectedImageIndex].featurePhoto"
              [alt]="(project.features[selectedImageIndex].featureTitle | translate) || 'feature photo'"
              class="max-h-[90vh] max-w-[95vw] object-contain rounded-lg shadow-2xl"
            />
          </div>
        </div>
    </section>
</div>