<header class="py-5">
  <div class="site-container flex justify-between items-center w-full">
        <div class="text-2xl mr-24 hover:cursor-pointer" routerLink="/">
            Amadeusz Lewandowski
        </div>
        <!-- medium screen menu -->
        <div class="hidden md:flex space-x-12 items-center">
            <a (click)="navigateTo(PageSectionNames.Home)"
               (keydown.enter)="navigateTo(PageSectionNames.Home)"
               tabindex="0"
               class="text-selected-text">
              <button>{{ "BUTTON_HOME" |translate }}</button>
            </a>
            <a (click)="navigateTo(PageSectionNames.AboutMe)"
               (keydown.enter)="navigateTo(PageSectionNames.AboutMe)"
               tabindex="1">
              <button>{{ "BUTTON_ABOUT" |translate }}</button>
            </a>
            <a (click)="navigateTo(PageSectionNames.Projects)"
               (keydown.enter)="navigateTo(PageSectionNames.Projects)"
               tabindex="2">
              <button>{{ "BUTTON_PROJECTS" |translate }}</button>
            </a>
            <a (click)="navigateTo(PageSectionNames.ContactMe)"
               (keydown.enter)="navigateTo(PageSectionNames.ContactMe)"
               tabindex="3">
              <button class="px-6 py-2 bg-theme font-bold">{{ "BUTTON_CONTACT_ME" |translate }}</button>
            </a>
            <app-language-selector></app-language-selector>
        </div>
        <!-- small screen menu -->
  <div class="relative md:hidden">
            <div class="relative w-fit py-2 rounded-md flex justify-between items-center cursor-pointer">
                <app-language-selector [mobile]="true"
                                       [hideExpanded]="show"
                                       (languageExpanded)="hideIfExpanded()"
                ></app-language-selector>
                <img (click)='toggle()'
                     (keydown.enter)="toggle()"
                     tabindex="4"
                     src = "./assets/hamburger-menu.svg"
                     alt="mobile menu"
                     class="h-8 w-10"/>
            </div>
            <div *ngIf="show" class="absolute px-1 border border-1 border-neutral-400 rounded-md cursor-pointer dropdown bg-body">
                <div (click)="navigateTo(PageSectionNames.Home)"
                     (keydown.enter)="navigateTo(PageSectionNames.Home)"
                     class="py-2 px-2 w-full hover:bg-neutral-600"
                     tabindex="5">
                  {{ "BUTTON_HOME" |translate }}
                </div>
                <div (click)="navigateTo(PageSectionNames.AboutMe)"
                     (keydown.enter)="navigateTo(PageSectionNames.AboutMe)"
                     class="py-2  px-2 w-full hover:bg-neutral-600"
                     tabindex="6">
                  {{ "BUTTON_ABOUT" |translate }}
                </div>
                <div (click)="navigateTo(PageSectionNames.Projects)"
                     (keydown.enter)="navigateTo(PageSectionNames.Projects)"
                     class="py-2 px-2 w-full hover:bg-neutral-600"
                     tabindex="7">
                  {{ "BUTTON_PROJECTS" |translate }}
                </div>
                <div (click)="navigateTo(PageSectionNames.ContactMe)"
                     (keydown.enter)="navigateTo(PageSectionNames.ContactMe)"
                     class="py-2 px-2 w-full hover:bg-neutral-600"
                     tabindex="8">
                  {{ "BUTTON_CONTACT_ME" |translate }}
                </div>
            </div>
        </div>
    </div>
</header>
