<div id="home" class="container mt-16 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full">
    <div class="flex flex-wrap md:flex-nowrap">
        <app-nav></app-nav>
        <app-home></app-home>
    </div>
</div>
<div id="aboutMe" class="container mt-64 flex justify-between md:ml-20 items-center mx-auto px-8 md:px-14 lg:px-24 w-full">
    <app-about></app-about>
</div>
<div id="projects" class="container mt-64 flex justify-between items-center mx-auto md:px-14 md:ml-20 lg:px-24 w-full">
    <app-projects></app-projects>
</div>
<div id="contactMe" class="grid lg:grid-cols-2 gap-8 lg:gap-32 sm:ml-36 mx-auto px-8 mt-24 w-full">
    <app-form></app-form>
    <app-contact></app-contact>
</div>

