    <section class="w-full">
        <h2 id="work" class="secondary-title">About me</h2>
        <h6 class="mt-2">Hi! I am Amadeus. I am in my senior year at the university of Adam Mickiewicz. My major is IT and I am looking for an opportunity to work in Software Development</h6>
        <p class="section-paragraph mt-0">I'm mainly interested in programming because I love to create new things. I'm focusing on front-end development, which includes HTML, CSS, JavaScript, TypeScript, Bootstrap, Tailwind, Angular, and a bit of Vue.<br> I have worked in IT as a network specialist, but I didn't enjoy it as much as I do enjoy coding </p>
        <div class="grid grid-cols-2 lg:grid-cols-3 gap-6 mt-6 place-items-center">
            <img src="../../assets/about/html.png" class="w-fit h-36 lg:h-72 object-cover">
            <img src="../../assets/about/css.png" class="w-fit h-36 lg:h-72 object-cover">
            <img src="../../assets/about/javascript.png" class="w-fit h-36 lg:h-72 object-cover">
            <img src="../../assets/about/angular.png" class="w-fit h-36 lg:h-72 object-cover">
            <img src="../../assets/about/vue.png" class="w-fit h-36 lg:h-72 object-cover">
            <img src="../../assets/about/vuetify.png" class="w-fit h-36 lg:h-72 object-cover">
            <img src="../../assets/about/bootstrap.png" class="w-fit h-36 lg:h-72 object-cover">
            <img src="../../assets/about/tailwind.png" class="w-fit h-36 lg:h-72 object-cover">
            <img src="../../assets/about/github_about.png" class="w-fit h-36 lg:h-72 object-cover hidden md:block">
        </div>
    </section>