<section class="w-full">
  <h2 class="secondary-title">{{ 'ABOUT_ME_TITLE' | translate }}</h2>
  <h6 class="mt-2 text-white">
    {{ 'ABOUT_ME_INTRO' | translate }}
    <span class="text-teal-400">{{ 'ABOUT_ME_NAME' | translate }}</span>,
    {{ 'ABOUT_ME_PROFESSION' | translate }}
    <span class="text-yellow-400">{{ 'ABOUT_ME_DEGREE' | translate }}</span>.
    {{ 'ABOUT_ME_EXPERIENCE' | translate }}
    <span class="text-cyan-400">{{ 'ABOUT_ME_ANGULAR_ROLE' | translate }}</span>
    {{ 'ABOUT_ME_GROWTH' | translate }}
    <span class="text-cyan-400">{{ 'ABOUT_ME_FULLSTACK_ROLE' | translate }}</span>.
    <br />
    {{ 'ABOUT_ME_CURRENT_ROLE' | translate }}
    <span class="text-orange-400">{{ 'ABOUT_ME_JAVA_SPECIALTY' | translate }}</span>
    {{ 'ABOUT_ME_PROJECT_DESC' | translate }}
    <span class="text-green-400">{{ 'ABOUT_ME_PROJECT_CORE' | translate }}</span>
    {{ 'ABOUT_ME_CUSTOMER_IMPLEMENTATIONS' | translate }}
    <span style="color: #ED1C24;">{{ 'ABOUT_ME_SWISS_LIFE' | translate }}</span>,
    {{ 'ABOUT_ME_AXA_JOURNEY' | translate }}
    <span style="color: #005BBB;">{{ 'ABOUT_ME_AXA_SITE' | translate }}</span>.
    {{ 'ABOUT_ME_SKILLS_DEV_1' | translate }}
    <span class="text-green-500">{{ 'ABOUT_ME_SKILLS_DEV_2' | translate }}</span>
    {{ 'ABOUT_ME_SKILLS_DEV_3' | translate }}
    <br />
    {{ 'ABOUT_ME_THANK_YOU' | translate }}
  </h6>
  <p class="section-paragraph mt-0 width-100 text-gray-400">
    {{ 'ABOUT_ME_PASSION' | translate }}
    {{ 'ABOUT_ME_EXPERIENCE_IMPACT' | translate }}
    <span class="text-cyan-400">{{ 'ABOUT_ME_FRONTEND' | translate }}</span>
    {{ 'ABOUT_ME_AND' | translate }}
    <span class="text-orange-400">{{ 'ABOUT_ME_BACKEND' | translate }}</span>
    {{ 'ABOUT_ME_LARGE_PROJECTS' | translate }}
    <span class="text-green-400">{{ 'ABOUT_ME_CORE_PROJECTS' | translate }}</span>
    {{ 'ABOUT_ME_CORE_PROJECTS_IMPACT' | translate }}
    {{ 'ABOUT_ME_FOCUS_TECH' | translate }}
    <br />
    {{ 'ABOUT_ME_NETWORK_EXP' | translate }}
    {{ 'ABOUT_ME_CODING_PASSION' | translate }}
  </p>

  <div class="grid grid-cols-2 lg:grid-cols-3 gap-6 mt-6 place-items-center">
      <img src="../../assets/about/html.png" [alt]="'html'" class="w-fit h-36 lg:h-72 object-cover">
      <img src="../../assets/about/css.png" [alt]="'css'" class="w-fit h-36 lg:h-72 object-cover">
      <img src="../../assets/about/javascript.png" [alt]="'javascript'" class="w-fit h-36 lg:h-72 object-cover">
      <img src="../../assets/about/angular.png" [alt]="'angular'" class="w-fit h-36 lg:h-72 object-cover">
      <img src="../../assets/about/vue.png" [alt]="'vue'" class="w-fit h-36 lg:h-72 object-cover">
      <img src="../../assets/about/vuetify.png" [alt]="'vuetify'" class="w-fit h-36 lg:h-72 object-cover">
      <img src="../../assets/about/bootstrap.png" [alt]="'bootstrap'" class="w-fit h-36 lg:h-72 object-cover">
      <img src="../../assets/about/tailwind.png" [alt]="'tailwind'" class="w-fit h-36 lg:h-72 object-cover">
      <img src="../../assets/about/java.png" [alt]="'java'" class="w-fit h-36 lg:h-72 object-cover">
      <img src="../../assets/about/mongodb.png" [alt]="'mongoDb'" class="w-fit h-36 lg:h-72 object-cover">
      <img src="../../assets/about/docker.png" [alt]="'docker'" class="w-fit h-36 lg:h-72 object-cover">
      <img src="../../assets/about/github_about.png" [alt]="'github_about'" class="w-fit h-36 lg:h-72 object-cover hidden md:block">
    </div>
</section>
