<section class="section">
  <h2 class="secondary-title">{{ 'ABOUT_ME_TITLE' | translate }}</h2>
  <h6
    class="mt-2 text-white text-justify"
    [innerHTML]="'ABOUT_ME_RICH_INTRO' | translate"
  ></h6>
  <p
    class="section-paragraph mt-0 width-100 text-gray-400 text-justify"
    [innerHTML]="'ABOUT_ME_RICH_DETAILS' | translate"
  ></p>

  <div class="grid grid-cols-2 lg:grid-cols-3 gap-6 mt-6 place-items-center">
      <img src="../../assets/about/html.png" [alt]="'html'" class="h-24 md:h-36 lg:h-40 object-contain">
      <img src="../../assets/about/css.png" [alt]="'css'" class="h-24 md:h-36 lg:h-40 object-contain">
      <img src="../../assets/about/javascript.png" [alt]="'javascript'" class="h-24 md:h-36 lg:h-40 object-contain">
      <img src="../../assets/about/angular.png" [alt]="'angular'" class="h-24 md:h-36 lg:h-40 object-contain">
      <img src="../../assets/about/vue.png" [alt]="'vue'" class="h-24 md:h-36 lg:h-40 object-contain">
      <img src="../../assets/about/vuetify.png" [alt]="'vuetify'" class="h-24 md:h-36 lg:h-40 object-contain">
      <img src="../../assets/about/bootstrap.png" [alt]="'bootstrap'" class="h-24 md:h-36 lg:h-40 object-contain">
      <img src="../../assets/about/tailwind.png" [alt]="'tailwind'" class="h-24 md:h-36 lg:h-40 object-contain">
      <img src="../../assets/about/java.png" [alt]="'java'" class="h-24 md:h-36 lg:h-40 object-contain">
      <img src="../../assets/about/mongodb.png" [alt]="'mongoDb'" class="h-24 md:h-36 lg:h-40 object-contain">
      <img src="../../assets/about/docker.png" [alt]="'docker'" class="h-24 md:h-36 lg:h-40 object-contain">
      <img src="../../assets/about/github_about.png" [alt]="'github_about'" class="h-24 md:h-36 lg:h-40 object-contain hidden md:block">
    </div>
</section>
