<div class="w-full">
    <div class="w-full gap-8 lg:gap-32 mt-24">
        <div class="mt-12 ">
            <!-- Contact info -->
            <p class="text-secondary">{{ "CITY" | translate }}: Poznań </p>
            <p class="text-secondary">{{ "PHONE" | translate }}(+48) 697-083-364</p>
            <p class="text-secondary">Mail:</p>
            <a href="mailto:lewandowskiamadeusz99@gmail.com" class="text-secondary underline">lewandowskiamadeusz99@gmail.com</a>
            <!-- Socials -->
            <div class="flex mt-20 space-x-6">
                <!-- facebook -->
                <a href="https://www.facebook.com/amadeusz.lewandowski.5/">
                    <img src="../../assets/facebook.png" alt="" class="w-24 h-24 lg:w-32 lg:h-32">
                </a>
                <!-- messenger -->
                <a href="https://m.me/amadeusz.lewandowski.5">
                    <img src="../../assets/messenger.png" alt="" class="w-24 h-24 lg:w-32 lg:h-32">
                </a>
            </div>
        </div>
    </div>
</div>
