<div class="section">
    <div class="w-full gap-8 lg:gap-32">
        <div class="mt-12 ">
            <!-- Contact info -->
            <p class="text-secondary">{{ "CITY" | translate }}: Poznań </p>
            <p class="text-secondary">{{ "PHONE" | translate }}(+48) 697-083-364</p>
            <p class="text-secondary">Mail:</p>
            <a href="mailto:lewandowskiamadeusz99@gmail.com" class="text-secondary underline">lewandowskiamadeusz99@gmail.com</a>
            <!-- Socials -->
            <div class="flex mt-20 space-x-6">
                <!-- facebook -->
                <a href="https://www.facebook.com/amadeusz.lewandowski.5/">
                    <img src="../../assets/facebook.png" alt="" class="w-16 h-16 md:w-20 md:h-20 lg:w-24 lg:h-24">
                </a>
                <!-- messenger -->
                <a href="https://m.me/amadeusz.lewandowski.5">
                    <img src="../../assets/messenger.png" alt="" class="w-16 h-16 md:w-20 md:h-20 lg:w-24 lg:h-24">
                </a>
            </div>
        </div>
    </div>
</div>
