<div class="w-full">
    <div class="w-full gap-8 lg:gap-32 mt-24">
        <div class="mt-12 ">
            <!-- Contact info -->
            <p class="text-secondary">697-083-364</p>
            <a href="mailto:lewandowskiamadeusz99@gmail.com" class="text-secondary underline mt-3 block">lewandowskiamadeusz99@gmail.com</a>
            <!-- Socials -->
            <div class="flex mt-20 space-x-6">
                <!-- facebook -->
                <a href="#">
                    <img src="../../assets/facebook.png" alt="" class="w-24 h-24 lg:w-32 lg:h-32">
                </a>
                <!-- messenger -->
                <a href="#">
                    <img src="../../assets/messenger.png" alt="" class="w-24 h-24 lg:w-32 lg:h-32">
                </a>
            </div>
        </div>
        
    </div>

</div>