<nav class="inline-block lg:mr-24 lg:w-4 fixed left-percentage hidden xl:block">
    <div class="absolute left-50 transform -translate-x-1/2 space-y-6 mt-36">
        <a (click)="scroll('home')" class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body">
            <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Home</span>
        </a>
        <a (click)="scroll('aboutMe')" class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body">
            <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">About</span>
        </a>
        <a (click)="scroll('projects')" class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body">
            <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Projects</span>
        </a>
        <a (click)="scroll('contactMe')" class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body">
            <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Contact</span>
        </a>
    </div>
</nav>