<nav class="inline-block lg:mr-24 lg:w-4 fixed left-percentage hidden xl:block">
  <div class="absolute left-50 transform -translate-x-1/2 space-y-6 mt-36">
    <a (click)="scroll(pageSectionNames.Home)" (keydown.enter)="scroll(pageSectionNames.Home)"
      class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body"
       [ngClass]="activeSection === pageSectionNames.Home ? 'bg-blue-500' : ''" tabindex="0">
      <span class="bg-black px-2 py-1 leftNavigationService.activeComponentId ml-10 opacity-0">Home</span>
    </a>
    <a (click)="scroll(pageSectionNames.AboutMe)" (keydown.enter)="scroll(pageSectionNames.AboutMe)"
      class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body"
       [ngClass]="activeSection === pageSectionNames.AboutMe ? 'bg-blue-500' : '' " tabindex="1">
      <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">About</span>
    </a>
    <a (click)="scroll(pageSectionNames.Projects)" (keydown.enter)="scroll(pageSectionNames.Projects)"
       class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body"
       [ngClass]="activeSection === pageSectionNames.Projects ? 'bg-blue-500' : '' " tabindex="2">
      <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Projects</span>
    </a>
    <a (click)="scroll(pageSectionNames.ContactMe)" (keydown.enter)="scroll(pageSectionNames.ContactMe)"
       class="nav-dot block w-7 h-7 rounded-full border-4 border-nav"
       [ngClass]="activeSection === pageSectionNames.ContactMe ? 'bg-blue-500' : '' " tabindex="3">
      <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Contact</span>
    </a>
  </div>
</nav>
