<form (ngSubmit)="onSubmitForm(f)" #f="ngForm">
  <fieldset [disabled]="true">
    <div class="w-full">
        <h2 class="secondary-title">{{ "LABEL_CONTACT_ME" | translate }}</h2>
        <p class="section-paragraph">{{ "CONTACT_FORM_TEXT" | translate}}</p>
        <div class="space-y-12">
            <div>
                <label class="text-white block mb-6 text-xl font-bold">
                  {{ "LABEL_COMPANY" | translate }}
                  <p *ngIf="!company.valid && company.touched" class="text-rose-800 mt-1">{{ "COMPANY_FORM_DESCRIPTION" | translate }}</p>
                  <input
                      class="w-full border border-input-border bg-input px-4 py-4"
                      name="company"
                      required
                      ngModel
                      #company="ngModel"
                      placeholder="{{ 'TEMPORARY_DISABLED' |translate }}"
                  >
                </label>
            </div>
            <div>
                <label class="text-white block mb-6 text-xl font-bold">
                  {{ "LABEL_EMAIL" | translate }}
                  <p *ngIf="!email.valid && email.touched" class="text-rose-800">{{ "ENTER_VALID_EMAIL" | translate }}</p>
                  <input
                      class="w-full border border-input-border bg-input px-4 py-4"
                      name="email"
                      required
                      ngModel
                      email
                      #email="ngModel"
                      placeholder="{{ 'TEMPORARY_DISABLED' |translate }}"
                  >
                </label>
            </div>
            <div>
                <label class="text-white block mb-6 text-xl font-bold">
                  {{ "LABEL_MESSAGE" | translate }}
                  <p *ngIf="!message.valid && message.touched" class="text-rose-800">{{ "ENTER_VALID_EMAIL" | translate }}</p>
                  <textarea
                      class="w-full border border-input-border bg-input px-4 py-4 h-56 resize-none"
                      name="message"
                      required
                      ngModel
                      #message="ngModel"
                      placeholder="{{ 'TEMPORARY_DISABLED' |translate }}"
                ></textarea>
                </label>
            </div>
            <p *ngIf="disableButton" class="section-paragraph">You have already contacted me few times, thanks</p>
            <button
                class="px-6 py-2 bg-theme text-white font-bold disabled:opacity-25"
                type="submit"
                [disabled]="!f.valid || disableButton"
            >{{ "BUTTON_CONTACT_ME" | translate }}</button>
        </div>
    </div>
  </fieldset>
</form>
