<app-nav class="align-middle"></app-nav>
<div class ="p-3">
    <div id="{{PageSectionNames.Home}}" class="container mt-32 flex justify-between items-center mx-auto md:px-14 md:ml-20 lg:px-24 h-full w-full">
        <app-home></app-home>
    </div>
    <div id="{{PageSectionNames.AboutMe}}" class="container mt-32 flex justify-between items-center mx-auto md:px-14 md:ml-20 lg:px-24 w-full">
        <app-about></app-about>
    </div>
    <div id="{{PageSectionNames.Projects}}" class="container mt-32 justify-between items-center mx-auto md:px-14 md:ml-20 lg:px-24 w-full">
        <app-projects></app-projects>
    </div>
    <div id="{{PageSectionNames.ContactMe}}" class="grid lg:grid-cols-2 gap-8 lg:gap-32 sm:ml-36 mx-auto px-8 mt-24 w-full">
        <app-form></app-form>
        <app-contact></app-contact>
    </div>
</div>



`
